    <section id="blog" class="container light">
    <div class="content">
    <div class="title icon-note"><h1>Blog <span> Daily adventures</span></h1>
    <div class="description">
    <p>We built beautiful, user friendly applications for clients all around the world. Impressive eh?</p></div></div>
    
    <article class="single-post">
    <figure><img src="images/sample/jelly.jpg" alt="" />
    <a href="#comments" class="comment-num">2</a>
    <p>Pork chop pancetta pork, filet mignon venison
    jerky corned beef pork belly cow speck turducken.
    Ribeye ham fatback.</p>
    </figure>
    <figcaption>U jelly?! <span>moments ago</span>
    <div class="social-share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://">Tweet</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    </div>
    
    
    </figcaption>
    </article>    
    
    </div>
    </section>