    <section id="contact" class="container dark pal5 second">
    <div class="content">
        <div class="title icon-phone">
            <h1>Contact <span>net.connect({port: 25})</span></h1>
            <div class="description social_nav">
                <div class="twitter medium">
                    <a href="http://twitter.com/hujsconf" title="Follow us on Twitter"><span class="icon rock"></span></a>
                </div>
                <div class="lanyard medium">
                    <a href="http://lanyrd.com/2012/hujs" title="Follow us on Lanyrd"><span class="icon rock"></span></a>
                </div>
            </div>
        </div>
<!--
        <div class="full">
            <div id="contact-form">
                    <form id="contact-us">
                        <div class="column-half">
                        
                            <div class="formblock">
                                    <input type="text" name="contactName" id="contactName" value="" class="txt requiredField" placeholder="Name" />
                            </div>

                            <div class="formblock">
                                <input type="text" name="email" id="email" value="" class="txt requiredField email" placeholder="Email" />
                            </div>
                        
                            <div class="formblock">
                                <input type="text" name="website" id="website" value="" class="txt website" placeholder="Website" />
                            </div>
                        
                            <div class="formblock">
                                <textarea name="comments" id="commentsText" class="txtarea requiredField" placeholder="Message"></textarea>
                            </div>
                        
                            <button name="submit" type="submit" class="subbutton send"></button>
                            <input type="hidden" name="submitted" id="submitted" value="true" />
                    
                        </div>

                        <div class="column-half last">
                        <ul>
                            <li>
                                <div class="thumb">
                                <a href="http://github.com/thoward"><img src="images/speaker/thoward37.jpg" alt="gblock" /></a>
                                </div>
                                <div class="info">
                                    <h3>Troy Howard <span><a href="https://github.com/thoward" target="_blank">@thoward</a></span></h3><p><a href="mailto:thoward37@gmail.com">thoward37@gmail.com</a></p><p>Conference Organizer</p>
                                </div>
                            </li>
                            <li>
                               <div class="thumb">
                                <a href="http://github.com/glennblock"><img src="images/speaker/gblock.jpg" alt="gblock" /></a>
                                </div>
                                <div class="info">
                                    <h3>Glenn Block <span><a href="https://github.com/glennblock" target="_blank">@glennblock</a></span></h3><p><a href="mailto:glenn.block@gmail.com">glenn.block@gmail.com</a></p><p>Conference Organizer</p>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </form>         
                </div>
            </div> -->
                <div class="column-full">
                    <ul>
                        <li>
                            <div class="thumb">
                            <a href="http://github.com/thoward"><img src="images/speaker/thoward37.jpg" alt="thoward" /></a>
                            </div>
                            <div class="info">
                                <h3><span><a href="https://github.com/thoward" target="_blank">@thoward</a></span><br><br>Troy Howard </h3><p><a href="mailto:thoward37@gmail.com">thoward37@gmail.com</a></p><p>Conference Organizer</p>
                            </div>
                        </li>
                        <li>
                           <div class="thumb">
                            <a href="http://github.com/glennblock"><img src="images/speaker/gblock.jpg" alt="gblock" /></a>
                            </div>
                            <div class="info">
                                <h3><span><a href="https://github.com/glennblock" target="_blank">@glennblock</a></span><br><br>Glenn Block</h3><p><a href="mailto:glenn.block@gmail.com">glenn.block@gmail.com</a></p><p>Conference Organizer</p>
                            </div>
                        </li>
                        <li>
                           <div class="thumb">
                            <a href="https://github.com/guangyang"><img src="images/speaker/guangyang.gif" alt="guangyang" /></a>
                            </div>
                            <div class="info">
                                <h3><span><a href="https://github.com/guangyang" target="_blank">@guangyang</a></span><br><br>Guang Yang</h3><p><a href="mailto:guang.yang@microsoft.com">guang.yang@microsoft.com</a></p><p>Conference Organizer</p>
                            </div>
                        </li>
                        <li>
                           <div class="thumb">
                            <a href="http://github.com/goddyzhao"><img src="images/speaker/goddyzhao.jpg" alt="goddyzhao" /></a>
                            </div>
                            <div class="info">
                                <h3><span><a href="https://github.com/goddyzhao" target="_blank">@goddyzhao</a></span><br><br>Goddy Zhao</h3><p><a href="mailto:goddy128@gmail.com">goddy128@gmail.com</a></p><p>CNodeJS Organizer</p>
                            </div>
                        </li>
                        <li>
                           <div class="thumb">
                            <a href="http://github.com/jacksontian"><img src="images/speaker/shyvo.jpg" alt="jacksontian" /></a>
                            </div>
                            <div class="info">
                                <h3><span><a href="https://github.com/jacksontian" target="_blank">@jacksontian</a></span><br><br>Jackson Tian</h3><p><a href="mailto:shyvo1987@gmail.com">shyvo1987@gmail.com</a></p><p>CNodeJS Organizer</p>
                            </div>
                        </li>
                    </ul>
                </div>   
            </div>         
        </div>
    </section>
