    <footer>
    <a href="http://www.twitter.com/hujsconf" class="twitter">
                <span class="twitter"></span>
                <p class="twitter_status"></p>
    </a>
    <section class="footer">
    <p>Copyright <a href="">沪JS</a> &copy; 2012</p>
    </section>
    </footer>
