<!DOCTYPE HTML>
<html lang=<%= locale %>">
<head>
    <meta charset="UTF-8">
    <title>沪JS 2012 - September 14-16, Shanghai</title>
    <!--
    {}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}
    {}..............................................................................................................................................{}
    {}.javascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascript.{}
    {}.javascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascript.{}
    {}.javascriptjavascriptjavascr   javascriptjavascrip  avascr       scriptjavascriptja       tjavasc       ascriptja    riptjava       avascript.{}
    {}.javascriptja    riptjavascri   avascriptjavascrip  avasc   tja   criptjavascriptj   sc    javas   pt    script      riptjav   rip    ascript.{}
    {}.javascriptjava    ptjavascriptjavascriptjavascrip  avasc  ptjav  criptjavascript   ascri   ava   iptja   criptjav   riptja   cript   ascript.{}
    {}.javascriptjavascriptja              riptjavascrip  avasc   tjavascriptjavascriptjavascr   java   iptja   criptjav   riptjavascrip   vascript.{}
    {}.javascriptjavascriptja  javascript  riptjavascrip  avascr   javascriptjavascriptjavas    tjava   iptja   criptjav   riptjavascri   avascript.{}
    {}.javascript      riptja  javascript  riptjavascrip  avascri   avascriptja   criptjava   iptjava   iptja   criptjav   riptjavascr   javascript.{}
    {}.javascriptjavascriptja  javascript  riptjavascrip  avascript   ascriptj     riptjav   riptjava   iptja   criptjav   riptjavasc   tjavascript.{}
    {}.javascriptjavascriptja              riptjavascrip  avascriptj   scriptja   criptja   criptjava   iptja   criptjav   riptjavas   ptjavascript.{}
    {}.javascriptjava  riptja  scriptjava  riptjavascrip  avascriptja   criptjavascriptj   scriptjava   iptja   criptjav   riptjava   iptjavascript.{}
    {}.javascriptjava  riptja  scriptjavascriptjavascrip  avascriptjav   riptjavascript   ascriptjava   iptja   criptjav   riptjav   riptjavascript.{}
    {}.javascriptjav  criptj   scriptjavascriptj  ascrip  avasc  ptjav  criptjavascript   ascriptjavas   ptja  scriptjav   riptjav   riptjavascript.{}
    {}.javascriptjav  criptj  ascriptjavascriptja        javascr       scriptjavascript           avasc       ascriptjav   riptjav          ascript.{}
    {}.javascriptja  scrip   vascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascript.{}
    {}.javascriptj   scri   avascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascript.{}
    {}.javascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascript.{}
    {}.javascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascriptjavascript.{}
    {}..............................................................................................................................................{}
    {}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}{}
    -->

    <!--Style Sheet-->
    <link rel="stylesheet" type="text/css" href="/css/splash.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
    
    <!--Responsive-->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" media="all" />
    
    <!--Google fonts-->
    <link href='http://fonts.googleapis.com/css?family=Russo+One&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    
    <!--Javascript-->
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    
        
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->

    <!--
    ............................................................................
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                                                          .
    .                                  ````````            `.::::-.            .
    .                                  MMMMMMM+         /ymMMMMMMMMMms:        .
    .                                  MMMMMMM+       +NMMMMMMMMMMMMMMMd:      .
    .                                  MMMMMMM+      sMMMMMMMMNNNMMMMMMMN:     .
    .                                  MMMMMMM+     :MMMMMMMo`   .oNMNy/`      .
    .                                  MMMMMMM+     oMMMMMMd       .:          .
    .                                  MMMMMMM+     /MMMMMMMo`                 .
    .                                  MMMMMMM+      dMMMMMMMMho:`             .
    .                                  MMMMMMM+      `hMMMMMMMMMMMmy/..        .
    .                                  MMMMMMM+        :hMMMMMMMMMMMMMmo`.     .
    .                                  MMMMMMM+          `/ymMMMMMMMMMMMMs`    .
    .                                  MMMMMMM+              `:ohNMMMMMMMMd;   .
    .                                  MMMMMMM+                   :yMMMMMMMs   .
    .                         .        MMMMMMM/       `//           yMMMMMMd   .
    .                     `/yNM+      :MMMMMMM-    .+dMMMh-        `dMMMMMMh   .
    .                   -dMMMMMMmo//+yMMMMMMMd    :MMMMMMMMmy+///oyNMMMMMMM:   .
    .                    oMMMMMMMMMMMMMMMMMMm.     .hMMMMMMMMMMMMMMMMMMMMN/    .
    .                     .sNMMMMMMMMMMMMMNo`        -sNMMMMMMMMMMMMMMMNo`     .
    .                        :oydmNNNmdyo-              ./shdmNNNmdhs+-        .
    .                                                                          .
    ............................................................................
    -->
</head>
