<% include header %>
<body>
		<% include nav %>
		<% include slider %>
		<% include info %>
		<% include speakers %>   
		<% include schedule %>
		<% include sponsors %>
		<% include contact %>
		<% include footer %>		
		<% include scripts %>    
</body>
</html>