    <section id="info" class="container dark pal1">
        <div class="content">
            <div class="title icon-power">
                <h1>Info <span>console.log(this)</span></h1>
                <div class="description"></div>
            </div>
            <div class="full">
        
                <div class="column-half">
                    <p>沪JS 2012 is a three day conference and hackathon focused on Javascript and Node.js technologies. This developer driven event will bring together notable figures from both the Chinese and international Javascript communities to share their knowledge and passion for Javascript. The conference will be held in Shanghai from September 14-16.</p>
                </div>
    
                <div class="column-half">
                    <div style="position:relative;">
                        <dl class="social_nav">
                            <dt>Follow us</dt>
                            <dd class="twitter medium"><a href="http://twitter.com/hujsconf" title="Follow us on Twitter" class="ir"><span class="icon rock"></span></a></dd>
                            <dd class="lanyard medium"><a href="http://lanyrd.com/2012/hujs" title="Follow us on Lanyard" class="ir"><span class="icon rock"></span><!--lanyrd.com/2012/hujs--></a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="full">
                <div class="column-half">
                    <ul class="list">
                    <h3>Tickets</h3>
                    <p>All tickets cost <b>200</b> RMB and include:</p>
                        <li>Two-days of talks on 9/14, 9/15</li>
                        <li>Full day hackathon on 9/16</li>
                        <li>Lunch and beverages for all 3 days</li>
                        <li>Opportunity to win special prizes</li>
                    </ul>
                    <a href="http://www.headin.cn/Themes/Activity/Details/?activityId=5036e645869d080cc43ccccd" class="subbutton">Purchase Tickets</a>
                </div>

                <div class="column-half">
                    <ul class="list">
                        <h3>Venue</h3>
                        <ul class="address">
                            <li><a href="http://www.kic.net.cn" target="_blank">Knowledge and Innovation Center</a></li>
                            <li>234号 Songhu Road, Yangpu, Shanghai, China, 021-65500808</li>
                        </ul>
                        <div id="map"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
