    <header class="dark">
        <div class="header-trans-underlay"></div>
        <nav>
            <div id="logo">
                <a href="/#slider"><h1 class="rock">沪</h1></a>
            </div>
            <div id="menu">
                <ul>
                    <li>
                        <a href="/#info" class="dark pal1">
                        <span>Info</span>
                        </a><a href="/#speakers" class="light pal2">
                        <span>Speakers</span>
                        </a><a href="/#schedule" class="dark pal3">
                        <span>Schedule</span>
                        </a><a href="/#sponsors" class="light pal4">
                        <span>Sponsors</span></a><a href="/#contact" class="dark pal5">
                        <span>Contact</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
