    <section id="slider">
        <div class="splash">
            <div class="splash-title">
                <h1 class="front">沪JS 2012</h1>
                <h1 class="front">14-16, Sept</h1>
            </div>
            <div class="">
                <div id="counter" class="front"></div>
                <div class="dark time-labels front">
                    <div>日</div><div style="width:28px">&nbsp;</div>
                    <div>小时</div><div style="width:28px">&nbsp;</div>
                    <div>分钟</div><div style="width:28px">&nbsp;</div>
                    <div>秒</div>
                </div>
            </div>
        </div>
        <div class="parallax-viewport">
            <img class="parallax-layer" src="images/shanghai-panorama-4-1.jpg" alt="" style="width: 4000px; height: 900px; top:30%;margin-top:-300px;left:-500px;margin-left:0px;"/>
        </div>
    </section>