    <section id="slider">
        <div class="splash">
            <div class="splash-title">
                <h1 class="front">沪JS 2012</h1>
                <h1 class="front">14-16, Sept</h1>
            </div>
            <div class="splash-note">
              <div class="column-half pal5 dark">
                <h2>Thanks for a great time!</h2>
                <ul class="list">
                  <li>Check out <a href="http://jingjs.org">京JS 2013</a> (<a href="http://twitter.com/jingjsconf">@jingjsconf</a>)</li>
                  <li>Join the <a href="https://groups.google.com/forum/#!forum/jsconf-cn">jsconf.cn mailing list</a>
                  <li>Follow <a href="http://twitter.com/hujsconf">@hujsconf</a> for updates (videos coming soon!)
                </ul>
              </div>
            </div>
        </div>
        <div class="parallax-viewport">
            <img class="parallax-layer" src="images/shanghai-panorama-4-1.jpg" alt="" style="width: 4000px; height: 900px; top:30%;margin-top:-300px;left:-700px;margin-left:0px;"/>
        </div>
    </section>
